/* -----ROOT VARIABLES----- */
:root {
    --primary-color: rgb(31, 54, 61);
    --secondary-color: #9EC1A3;
    --accent1–color: #40798C;
    --accent2-color: #CFE0C3; 
}



/* -----UNIVERSAL DEFAULTS----- */
* {
	margin: 0;
	padding: 0;
}



/* ---------------------------------------------------------------------UNIVERSAL ELEMENTS */
/* Default for h1 */
h1 {
    color: white;
    padding: 1rem;
	font-family: "Roboto Slab", serif; 
    font-weight: 400; 
    font-style: normal;  
}

/* Default for p */
p {
    color: black;
    padding: 1rem;
}



/* ------------------------------------------------------------------UNIVERSAL CONTAINERS BELOW*/
/* BODY CONTAINER */
body {
    max-width: 1000px;
    margin: 2rem auto;
    background-color: var(--accent1–color);
    min-width: 1000px;
}

/* HEADER CONTAINER */
header {
	margin: 1rem auto;
	display: grid;
	grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
	align-items: center;
	border-bottom: 1px solid #ccc;
    background-color: var(--primary-color);
    min-width: 1000px;
}
header img {
    grid-column: 2 / 3;
    margin: 0.5rem;
    align-items: center;
    justify-content: center;
    order: -1;
}
header nav {
    grid-column: 3/7;
    justify-content: center; 
    align-items: center;
    order: 0;
    display: flex;
}
.navigation a{
    border: 1px solid black;
    padding: 1rem 2rem;
    margin: 0;
    text-decoration: none;
    background-color: white;

}

/* FOOTER CONTAINER */
footer {
    display: grid;
    grid-template-columns: repeat(5,1fr);
    min-width: 1000px;
    grid-row: auto;
    background-color: var(--primary-color);
}
footer p {
    grid-column: 2/5;
    text-align: center;
    color: white;
    font-family: "Karla", sans-serif; 
    font-weight: 300;  
    font-style: normal;
}
#contact_wireframe {
    text-align: center;
    color: white;
    margin: auto;
    font-family: "Karla", sans-serif; 
    font-weight: 300;  
    font-style: normal;
}
.sociallinks {
    display: flex;
    flex-flow: row;
    grid-column: 5/6;
}

/* -----EXTRA CLASS SELECTORS----- */
.sociallinks a {
    text-decoration: none;
}



/* --------------------------------------------------------------------------ABOUT BELOW */
/* DIV HERO CONTAINER */
.hero {
    position: relative;
    min-width: 1000px;
}
.hero h1 {
    position: absolute;
    background-color: rgba(0, 0, 0, 0.5);
    height: 1em;
    width: 968px;
    top: 50px;
    text-align: center; 
}
.hero img {
    display: block;
    width: 100%;
    height: auto;
}
.hero article {
    left: 5%;
    position: absolute;
    background-color: rgba(31, 54, 61, 0.7);
    height: 10em;
    width: 90%;
    bottom: 150px;
}
.hero article img {
    margin: 1em;
    float: right;
    width: 12em;
}
.hero p {
    color: white;
    font-family: "Karla", sans-serif; 
    font-weight: 300;  
    font-style: normal;  
}

/* HISTORY history.sect CONTAINER */
.history_sect {
    display: grid;
    margin: 25px auto;
    grid-template-columns: repeat(5, 1fr);
    grid-row: auto;
    align-items: center;
    background-color: var(--accent2-color);
    padding: 25px;
    min-width:950px;
}
.history_sect h2 {
    grid-column: 3/4;
    grid-row: 1/2;
    justify-content: center;
    grid-row: 1/2;
    text-align: center;
    font-family: "Roboto Slab", serif; 
    font-weight: 600; 
    font-style: normal; 
}
.history_sect img {
    grid-column: 3/4;
    grid-row: 2/3;
    height: 10rem;
    ;
}
#hist_para1{
    order: -1;
    grid-column: 1/3;
    grid-row: 2/3;
    font-family: "Karla", sans-serif; 
    font-weight: 300;  
    font-style: normal;  
}
#hist_para2{
    order: -1;
    grid-column: 4/7;
    grid-row: 2/3;
    font-family: "Karla", sans-serif; 
    font-weight: 300;  
    font-style: normal;  
}

/* GALLERY adven.sect CONTAINER */
.adven_sect {
    display: grid;
    margin: 25px auto;
    grid-template-columns: repeat(5, 1fr);
    grid-row: auto;
    align-items: center;
    background-color: var(--accent2-color);
    padding: 25px;
    min-width:950px;
}
.adven_sect h2 {
    grid-column: 2/5;
    grid-row: 1/2;
    text-align: center;
    padding-bottom: 15px;
    font-family: "Roboto Slab", serif; 
    font-weight: 600; 
    font-style: normal; 
}
.adven_sect figure {
    justify-content: space-evenly;
    align-items: center;
    border: 1px solid rgb(155, 155, 155);
    grid-row: 2/3;
    background-color: white;
}
.adven_sect img {
    max-height: 7rem;
    display: block;
    margin: 5px auto;
    padding: 5px;
}
.adven_sect figcaption {
    text-align: center;
    padding-bottom: 5px; 
    font-family: "Karla", sans-serif; 
    font-weight: 300;  
    font-style: normal;  
}


/* ---------------------------------------------------------------------CONTACT BELOW */
/* CONTACT HEADER CONTAINER */
.contact_header {
    background-color: var(--secondary-color);
    text-align: center;
    padding-top: 1rem;
}
.contact_header h1 {
    font-family: "Roboto Slab", serif; 
    font-weight: 600; 
    font-style: normal; 
    color: black;
}
.contact_header p {
    width: 500px;
    margin: 0 auto;
    padding-bottom: 2rem;
    color: rgb(0, 0, 0);
    font-family: "Karla", sans-serif; 
    font-weight: 300;  
    font-style: normal;
}

/* CONTACT BOX CONTAINER */
.contact_box {
    background-color: var(--accent2-color);
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    padding: 1rem 50px;
}
.contact_box h2 {
    grid-row: 1/2;
    grid-column: 1/2;
    font-family: "Roboto Slab", serif; 
    font-weight: 600; 
    font-style: normal; 
}
.contact_box iframe {
    width: 300px;
    height: 250px;
    grid-column: 6/7;
    grid-row: 1/7
}
.contact_box h3 {
    grid-row: 2/3;
    grid-column: 1/2;
    font-family: "Karla", sans-serif; 
    font-weight: 300;  
    font-style: normal;
}
#address {
    grid-column: 1/2;
    grid-row: 3/4;
    font-family: "Karla", sans-serif; 
    font-weight: 300;  
    font-style: normal;
}
#email {
    grid-column: 1/2;
    grid-row: 4/5;
    font-family: "Karla", sans-serif; 
    font-weight: 300;  
    font-style: normal;
}
#phone {
    grid-column: 1/2;
    grid-row: 5/6;
    font-family: "Karla", sans-serif; 
    font-weight: 300;  
    font-style: normal;
}

/* STAFF BOX CONTAINER */
.staff_box {
    background-color: var(--accent2-color);
    padding: 1rem 50px;
}
.staff_box article {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 1rem;
}
.staff_box figure {
    margin: 0 auto;
}
.staff_box figure img {
    width: 200px;
    height: 180px;
    padding: 5px;
    background-color: white;
}
.staff_box figcaption {
    font-family: "Karla", sans-serif; 
    font-weight: 300;  
    font-style: normal;
}

/* CONTACT FORM CONTAINER*/
form {
    width: 650px;
    margin: 1rem auto;
    padding: 1rem 5rem;
    border: 1px solid rgb(0 0 0 / 0.1);
    border-radius: 0.5rem;
    background-color: #eee;
    display: grid;
    }
fieldset {
    display: grid;
    grid-gap: .5rem;
    margin: 1rem;
    border: 1px solid rgb(0 0 0 / 0.2);
    padding: 1rem;
    font-family: "Karla", sans-serif; 
    font-weight: 300;  
    font-style: normal;
    }
label {
    text-align: left;
    padding-right: 1rem;
    font-family: "Roboto Slab", serif; 
    font-weight: 600; 
    font-style: normal;
    }
button {
    margin: 1rem;
    background-color: navy;
    color: #fff;
    border: none;
    border-radius: .5rem;
    padding: .75rem;
    font-size: 1.2rem;
    font-family: "Roboto Slab", serif; 
    font-weight: 600; 
    font-style: normal;
    }
button:hover {
    background-color: rgb(18, 27, 105);
    }
.contact_form {
    background-color: var(--secondary-color);
    padding-bottom: 10px;
}
.contact_form h2{
    text-align: center;
    padding: 1rem;
    font-size: 2rem;
    font-family: "Roboto Slab", serif; 
    font-weight: 600; 
    font-style: normal;
}
.contact_form p {
    font-family: "Karla", sans-serif; 
    font-weight: 300;  
    font-style: normal;
    text-align: center;
}

.message_topic {
    display: flex;
    flex-direction: column;
    text-align: start;
    border: 1px solid black;
}
