:root {
    --heading-background-color: hwb(219 2% 70%);
    --heading-text-color: hsl(0, 0%, 37%);
    --heading-font: 'Montserrat', Helvetica, sans-serif;
    --padding: 1rem;
    --border: 1px solid rgba(0, 0, 0, 0.1);
}
nav {
    background-color: rgb(0, 0, 0);
    padding: 10px;
}
nav a {
    color: white;
    display: block;
    padding: 20px;
}
h1 {
    background-color: var(--heading-background-color);
    color: var(--heading-text-color);
    font-family: var(--heading-font);
    padding: var(--padding);
}
main img {
    width: 150px;
    height: auto;
    border: var(border);
    padding: 2px;
    box-shadow: 0 0 25px var(--heading-background-color);
}
p {
    padding: 0;
}
main {
    max-width: 840px;
}
aside {
    width: 20rem;
    margin: 1rem;
    border: 1px solid rgba(0, 0, 0, 0.2);
    padding: var(--padding);
    background-color: #eee;
    color:#000000;
    text-align: center;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
aside img {
    width: 200px;
    height: auto;
}
footer {
    margin-top: 15px;
    border-top: 1px solid #000000;
    text-align: center;
}