/* The :root pseudo-class is used to select the root element (html) of the document. It is common to see the :root rule at the top of the CSS document, especially since global CSS variables will be declared within that rule.
Global CSS variables are declared within the :root selector.
Global CSS variables are declared using the -- prefix followed by the variable name, of your choice and be sure to follow acceptable naming conventions.
Global CSS variables are used by calling the variable name with the var() function as you will see througout this stylesheet.
--double dashed variables are placeholders for repeated declarations, and can be named whatever you want. */
/* This CSS rule names the <html> element as the selected element and creates global CSS variables that can be called throughout this stylesheet
1. This global css variable was named "primary-color" and has a color stored in it
2. This global css variable was named "secondary-color" and has a color stored in it
3. This global css variable was named "font-color-for-dark-backgrounds" and has a color stored in it*/
:root {
    --primary-color: rgb(55, 55, 68);
    --secondary-color: rgb(0, 0, 91);
    --font-color-for-dark-backgrounds: white;
}



/* This CSS rule names the <nav> element as the selected element to apply two style declarations.
1. The background color will be the color that is stored in the variable named "primary-color".
2. Padding, or area between the content and border is set to 10 pixels for readability.
*/
nav {
    background-color: var(--primary-color);
    padding: 10px;
}
/* This CSS rule selects all the <a> (anchor / link) elements in the HTML that are children of the <nav> element and applies the following declarations:
1. The foreground or font color will be the color that is stored in variable "font-color-for-dark-bakgrounds".
2. The display will change from the default of inline to block.
3. Each anchor tag will have padding of 20px;
*/
nav a {
    color: var(--font-color-for-dark-backgrounds);
    display: block;
    padding: 20px;
}



/* This CSS rule references all the <h1> (heading 1) element as the selected element and applies the following declaration:
1. The foreground, font color is set to darkblue.
*/
h1 {
    color: blue;
}

/* This CSS rule selects all the <p> (paragraph) elements as the selector and applies the following declaration:
1. Padding between the paragraph content and the border is set to 0.
*/
p {
    padding: 0;
}



/* This CSS rule selects the main element as the selector and applies the following declaration:
1. The box width of this main element will not exceed past 840 pixels no matter the screen size, but it can be smaller
*/
main {
    max-width: 840px;
}
/* This CSS rule selects the main elements images as the selector and applies the following declaration:
1. The images width in this main element will be 150 pixels no matter the screen size
2. The images height will automatically adjust to have the same aspect ratio as the original size
3. The borders of these images will be 1px deep, be solid lines, and the color black
4. The space between the image itself and the border will be 2px deep
5. Box Shadows ignore margins and start at the border regardless if a margin is set. The shadow will be offset on the x radius by 0, and on the y radius by 0, and will have a blur radius of 30px deep, and be color gray
*/
main img {
    width: 150px;
    height: auto;
    border: 1px solid black;
    padding: 2px;
    box-shadow: 0 0 30px gray;
}



/* This CSS rule selects the aside element selector and applies the following declaration:
1.  Use REM: for global sizing, margins, padding, and other properties where you want consistent sizing based on the root font size.
    USE EM: Use for local sizing, where you want an element's size to be relative to its parent's font size. 
    Here we are saying the width of the aside box will be 20 times the root elements font size, which default is 16.
2. The space between the border and another element is 1rem
3. The border is 1px thick, and is a black solid line
4. The space between the content and the border is 1rem
5. The background color within the border will be the color that is stored in the variable named "secondary-color".
6. The foreground or font color will be the color that is stored in variable "font-color-for-dark-bakgrounds"
7. The text is centered to the box
*/
aside {
    width: 20rem;
    margin: 1rem;
    border: 1px solid black;
    padding: 1rem;
    background-color: var(--secondary-color);
    color: var(--font-color-for-dark-backgrounds);
    text-align: center;
}
/* This CSS rule selects all images within the aside element and applies the following declaration:
1. The width of all images will be 200px
2. The height of all images will be automatically adjusted to the width to keep the same aspect ratio as the original size */
aside img {
    width: 200px;
    height: auto;
}



/* This CSS rule selects the footer element selector and applies the following declaration:
1. The space between the top border and another element is 1rem
2. The top border is 1px thick, and is a black solid line
3. The text is centered to the box
*/
footer {
    margin-top: 1rem;
    border-top: 1px solid black;
    text-align: center;
}

